
body
  background: #F0F0F0
  font-family: Georgia, Cambria, "Times New Roman", Times, serif

a
  color: #6666FF
  text-decoration: underline

a:visited
  color: #000066

h2
  margin-block-start: 2em
  margin-block-end: 0

p, ol, ul
  margin-block-start: 0.2em
  line-height: 1.4
  font-size: 20px

li
  margin-bottom: 8px


div[class*="language-"].line-numbers-mode .line-numbers-wrapper
  top: 2px
  left: -4px
  text-align: right
  width: 2.5rem

div[class*="language-"].line-numbers-mode pre
  padding-left: 3rem

div[class*="language-"].line-numbers-mode::after
  width: 2.5rem

.myhome-class .home
  .features
    margin-top: 0.5rem
    background: #DDDDDD
    padding: 1.5rem

  .feature
    background: #F0F0F0
    padding: 1rem
    max-width: 28%

  .feature h2
    font-weight: bold
    margin-block-start: 0
